<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h4>Editing Attribute</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <%= render 'form' %>

    <%= link_to 'Show', @attribute %> |
    <%= link_to 'Back', attributes_path %>
  </div>
</div>
