<div class="row">
  <div class="col-lg-2 col-lg-offset-4">
    <h4>New Attribute</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <%= render 'form' %>
    <%= link_to 'Back', attributes_path %>
  </div>
</div>



