<div class="row">
<div class="col-lg-6 col-lg-offset-3">
  <h4>Editing Attribute Set</h4>
<%= render 'form' %>

<%= link_to 'Show', @attribute_set %> |
<%= link_to 'Back', attribute_sets_path %>
</div>
</div>